<h1>New Game!</h1>
<h3>
  <% @letters.each do |letter| %>
    <%= letter %>
  <% end %>
</h3>

<h3>What`s the longest word?</h3>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input name="letters" type="hidden" value="<%= @letters.join %>">
  <input type="text" name="word" id="">
  <input type="submit" value="play">
</form>

